.vn-month-select {
  cursor: pointer;
  background-image: none !important;
  padding-right: 0.8rem !important;
}
.vn-month-select.month-picker {
  width: 190px !important;
}
@media (max-width: 800px) {
  .vn-month-select.month-picker {
    width: 164px !important;
    font-size: 12px;
  }
}
